<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping list</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div>
    <div>
        <h1 class="h1_header">Shopping list</h1>
    </div>
    <form method="post" th:action="@{/}" th:object="${item}">
        <div class="input_and_submit">
            <input class="input_form" type="text" th:field="*{name}" placeholder="Name new item" aria-label="Name new item">
            <div>
                <button class="button_add" type="submit">Add</button>
            </div>
        </div>
    </form>

    <table>
        <thead>
        <tr class="header_columns_table">
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td>
                <form th:action="@{/{id}(id = ${item.id})}" th:method="delete">
                    <button class="button_delete" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>